<script>
  document.addEventListener("touchmove", function(e){
    e.preventDefault();
  });
</script>
<div style="background-color:purple;">
  <div class="col" style="text-align:center;"><img src="https://s3.amazonaws.com/MelocomproApp/assets/img/logo-white.fw.png"></div>
  <div class="col" style="color:white;">Hola Daniel!</div>

</div>
<div class="list">
<super-navigate location="example#getting-started">
  <a class="item item-icon-left" href="#">
    <i class="icon super-email"></i>
    Home
  </a>
  </super-navigate>
  <super-navigate location="example#search">
    <a class="item item-icon-left" href="#">
      <i class="icon super-search"></i>
      Buscar
    </a>
    </super-navigate>

  <a class="item item-icon-left" target="_blank" href="#">
    <i class="icon super-document-text"></i>
    Secretos
  </a>
<super-navigate location="example#myorders">
  <a class="item item-icon-left" href="#">
    <i class="icon super-clipboard"></i>
    Mis Pedidos
  </a>
</super-navigate>

<super-navigate location="example#myquestions">
  <a class="item item-icon-left" href="#">
  <i class="icon super-help-circled"></i>
    Preguntas
    <span class="badge badge-assertive">1</span>
  </a>
  </super-navigate>

  <a class="item item-icon-left" href="#">
  <i class="icon super-person-stalker"></i>
    Mi Cuenta
  </a>
</div>
