<div class="padding">
  <super-navbar>
    <super-navbar-button onclick="openDrawer()">
       &equiv;
    </super-navbar-button>
    <super-navbar-title>
      Melocompro
    </super-navbar-title>
  </super-navbar>
  <form action="search.html" method="get">
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon super-search placeholder-icon"></i>
        <input id="search-box" target="_blank" name="q" type="text" placeholder="Buscar Productos">
      </label>
    </div>
  </form>
  aaa
</div>
