<link href="../example/modules/magiczoomplus/magiczoomplus.css" rel="stylesheet">
<script src="../example/modules/magiczoomplus/magiczoomplus.js"></script>



  <super-navbar>
    <super-navbar-title>
      Melocompro Product Page
    </super-navbar-title>
  </super-navbar>
  <body>
    <!-- Main zoom image -->
    <div class="row">
    <a class="MagicZoom" id="zoom" data-mobile-options="textTouchZoomHint: Tap para Zoom; textClickZoomHint: Doble Tap para Zoom; textExpandHint: Tap para expandir" title="..." href="https://www.melocompro.com.co/18208-23509-large/devagrass-pastillas-adelgazantes.jpg"><img src="https://www.melocompro.com.co/18208-23509-large/devagrass-pastillas-adelgazantes.jpg"/></a>
</div>
    <!-- Thumbnails -->
        <div class="row">
    <a data-zoom-id="zoom" href="https://www.melocompro.com.co/18208-23509-large/devagrass-pastillas-adelgazantes.jpg" data-image="https://www.melocompro.com.co/18208-23509-large/devagrass-pastillas-adelgazantes.jpg" title="..."><img src="http://www.melocompro.com.co/17043-23470-small/xhcg-1234-bioscience-quema-grasa-controla-ansiedad.jpg.pagespeed.ic.u2EV3XMDLk.jpg"/></a>
    <a data-zoom-id="zoom" href="http://www.melocompro.com.co/17043-23469-large/250x250xhcg-1234-bioscience-quema-grasa-controla-ansiedad.jpg.pagespeed.ic.Z1a5-yxwiL.jpg" data-image="http://www.melocompro.com.co/17043-23469-large/250x250xhcg-1234-bioscience-quema-grasa-controla-ansiedad.jpg.pagespeed.ic.Z1a5-yxwiL.jpg" title="..."><img src="http://www.melocompro.com.co/17043-23469-small/xhcg-1234-bioscience-quema-grasa-controla-ansiedad.jpg.pagespeed.ic.QDVErGMX_k.jpg"/></a>
    <a data-zoom-id="zoom" href="http://www.melocompro.com.co/17043-23467-large/hcg-1234-bioscience-quema-grasa-controla-ansiedad.jpg" data-image="http://www.melocompro.com.co/17043-23467-large/hcg-1234-bioscience-quema-grasa-controla-ansiedad.jpg" title="..."><img src="http://www.melocompro.com.co/17043-23467-small/xhcg-1234-bioscience-quema-grasa-controla-ansiedad.jpg.pagespeed.ic.5XeBD_-62a.jpg"/></a>
</div>
<div class="padding">
<div class="card">
  <div class="item item-text-wrap">
  <h2>Hcg 1234 Gotas para el texto del producto</h2>
  <div class="price assertive">$100,000 <span class="balanced">Envio Gratis</span></div>
  <p> <span class="shipping">Entrega: 2 dias habiles</span></p>
  <p> <span class="rating-stars energized">Calificación: 5 Estrellas</span></p>

  </div>
</div>
<div class="card">
  <div class="item item-text-wrap">
  <h3>Descuentos por compras en cantidad:</h3>

  <table style="width:100%">
    <tr>
      <th>Unidades</th>
      <th>Descuento</th>
      <th>Precio Por Unidad</th>
    </tr>
    <tr>
      <td>3 - 5</td>
      <td>50%</td>
      <td>50,000</td>
    </tr>
    <tr>
      <td>6 +</td>
      <td>60%</td>
      <td>$40,000</td>
    </tr>
    <tr>
      <td>John</td>
      <td>70%</td>
      <td>$30,000</td>
    </tr>
  </table>

  </div>
</div>



<button class="button button-full button-balanced">
  Comprar Ahora
</button>
<button class="button button-full button-stable">
  Compra Telefonica
</button>

<div class="card">
  <div class="item item-text-wrap">
  <div class="boxsimple" id="Detallesdelproducto"><h2>Devagrass pastillas para bajar de peso</h2>
<p><span>Este maravilloso producto te ayuda a <a rel="nofollow" href="http://www.melocompro.com.co/buscar/?q=peso&amp;category_name=Bajar%20de%20Peso&amp;product_rating=r%20%3E%3D%204.00" target="_blank">bajar de peso</a>, quemar grasa localizada en los brazos, piernas, muslos y en el abdomen. También te limpia y acelera el metabolismo.</span></p>

<a href="#">Seguir Leyendo</a>
  </div>
</div>
</div>

<div class="card">
  <div class="item item-text-wrap">
<textarea style="width:100%;" name="text_qa" id="text_qa" placeholder="Escribe tu pregunta aquí..."></textarea>
<button class="button button-positive">
  Enviar Pregunta
</button>
</div>
</div>
  </body>


<div class="padding">


</div>
